.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
 .header{
     width: 400px;
     height: 100px;
     background-color: #141f40;
     position: relative;
 }
 .container{
     position: absolute;
     bottom: 20px;
     right: 20px;
 }
 .sbox1,
 .sbox2,
 .sbox3{
     width: 40px;
     height: 40px;
     background-color: #a9004b;
     border: 10px #fff solid;
     float: left;
 }
 .box1{
     width: 150px;
     height: 250px;
     background-color: #80bfa8;
     float: left;
 }
 .box2{
     width: 250px;
     height: 250px;
     background-color: #8c2727;
     position: relative;
     float: left;
 }
 .container2{
     position: absolute;
     bottom: 40px;
     right: 60px;
 }
 .mbox1,
 .mbox2,
 .mbox3{
     width: 140px;
     height: 40px;
     background-color: #ff863f;
     border: 5px #fff solid;
 }
 .mbox2{
     margin: 10px 0;
 }
 .footer{
     width: 400px;
     height: 100px;
     background-color: #d98d30;
 }

 @media screen and (max-width: 479px) {
     .header{
         width: 200px;
         height: 220px;
     }
     .clear{
         clear: both;
     }
     .container{
         right: 70px;
     }
     .box1{
         width: 200px;
         height: 100px;
     }
     .box2{
         width: 200px;
         height: 220px;
     }
     .container2{
         left: 30px;
         top: 20px;
     }
     .footer{
         width: 200px;
     }
 }